/* Universal styles */
.container{
  text-align: center;
  height: 500px;
  margin: 25vh 0 0 10%;
  max-width: 80%;
  max-height: 100%;
  font-family: 'VT323', monospace;
  font-size: 131%;
  padding-bottom: 10vh;
}

/* Hidden class for text to fade in */
.hidden{
  display: none;
}

/* Highlight for submit options */
.highlight{
  color: #3B8519;
}

a{
  text-decoration: none;
}

/* Banner styling */
#name{
  font-size: 127%;
}

/* Text box styling */
#inputBox{
  border-style: none;
  height: 30px;
  width: 170px;
  display: inline;
}

#inputIcon{
  font-size: 200%;
  display: inline;
}

input{
  font-family: 'VT323', monospace;
  font-size: 130%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
}

/* Proceed styling */
#proceed a{
  color: black;
  text-decoration: underline;
}

/* Help styling */
#help{
  color: #737373;
  font-size: 90%;
  font-style: italic;
}

/* Contact buttons */
#lead{
  padding: 0;
}

.icon{
  padding-left: 3vh;
  color: black;
  transition: 1s;
  font-size: 2em;
}

.icon:hover{
  color: #3B8519;
  transition: 1s;
}

#contact-buttons a{
  text-decoration: none;
}

/* Resume */
#resume{
  height: 300px;
}